future
emoji
lxml
beautifulsoup4
requests
SQLAlchemy==1.4.31
python-telegram-bot==13.11
psycopg2-binary
feedparser
spongemock
zalgo-text
geopy
tswift
nltk
pyrogram
psutil
Pillow
CurrencyConverter
cloudscraper
jikanpy
speedtest-cli
coffeehouse
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
telethon
spamwatch
redis
alphabet_detector
pyrate-limiter
gtts
nekos.py
fontTools
typing
telegraph
tswift
cachetools
pyowm
tabulate
parsel
mtranslate
pyrogram
tgcrypto
configparser
pytz
hachoir
pybase64
pySmartDL
validators
youtube_dl
google-trans-new==1.1.9
#googletrans
youtube_search
secureme
html2text
flag
bs4
youtube_search_python
search_engine_parser
asyncio
bing_image_downloader
python-arq
motor
dnspython
cryptography
pymongo
gpytranslate
pykeyboard
envparse
aiofiles
loguru
odmantic
aiohttp[speedups]
googletrans==4.0.0-rc1
python-rapidjson
ffmpeg
httpx[http2]
spamwatch
pynewtonmath
PyYAML
